body { 
	margin: 0px;
	padding: 0px;
	background-color:grey
}

#navigation {
	 margin: 0px;
	 padding: 0px;
	 height: 36px;
	 width: 100%;
	 background-color: #000;
}


#navbar ul {
	margin: 0px;
	padding: 0px;
	list-style:none;

}

#navbar ul li {
	display: inline;
	
}

#navbar ul li a {
	 text-decoration: none;
}