body { 
	margin: 0px;
	padding: 0px;
	background-color:grey;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#navigation {
	 margin: 0px;
	 padding: 0px;
	 height: 36px;
	 width: 100%;
	 box-shadow: inset 0 -10px 10px -10px #000000;
	 -moz-box-shadow: inset 0 -10px 10px -10px #000000;
	 background-color: #53B4CF;
	 border: 1px solid #3499C9
}


#navbar ul {
	margin: 0px;
	padding: 0px;
	list-style:none;
	width: 1020px;

}

#nav-links {
	width: 1020px;
	margin: 0 auto;
}
#navbar ul li {
	display: inline;
	
}

#navbar ul li a {
	 text-decoration: none;
	 color: #FFF;
	 text-transform: uppercase;
	 font-size: 12px;
	 padding: 10px 10px 10px 10px;
}

#navbar {
		width: 1020px;
		margin: 0 auto;
}

#navbar ul li a:hover {
	 padding: 10px 10px 10px 10px;
	 text-decoration: underline;
}
}


#content {
	width: 1020px;
	background-color:blue;
	margin: 0 auto;
}

#left {
	background-color:red;
	width: 800px;
	float: left;
}

#right {
	background-color:red;
	width: 210px;
	float: right;
}

#footer { 
	width: 1020px;
	height: 68px;
	background-color:green;
	overflow:hidden;
	margin: 0 auto;
}